@import '_theme.scss';

.container {
  border: 2px solid $swan-silver;
  border-radius: 50%;
  height: 27vw;
  width: 27vw;
  padding: 0;
  margin: 15px auto;
  font-size: 2vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sparkline {
  margin: 10% 1%;
  height: auto;

  > svg {
    width: 80%;
    height: auto;
  }
}

.price {
  color: white;
}

.currentPrice {
  color:  white;
  font-size: 1.8em;
}

.deltaPrice {
  color: gray;
  font-size: 1em;
}
