@import "_theme.scss";

.panel {
  top: $nav-bar-height;
  flex: 1;
}

.glances {
  top: 0;
  margin: 0;
  padding: 5px;

  color: white;
  background-color: $swan-amzn-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  flex: 0 0 auto;
}
