@import "_theme.scss";

.viewMain {
  top: $nav-bar-height;
  flex: 1;
}

.priceGlanceContainer {
  height: $glances-height;
  position: relative;
  top: $nav-bar-height;
  margin: 0;
  padding: 5px;

  color: white;
  background-color: $swan-amzn-gray;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex: 0 0 auto;

}

.newsListContainer {
  position: absolute;
  top: calc(60px + 27vw);
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  // overflow-y: scroll;
  // overflow-x: hidden;
}
