@import "~react-toolbox/lib/colors";

$swan-blue: #4275F4;
$swan-blue-dark: rgba(66,101,188,1);
$dark-blue-gray: rgba(67,92,102,1);
$swan-silver: rgba(240, 240, 240, 1);

$swan-amzn-gray: rgba(35,47,62, 1);

// overrides
$color-primary: $swan-blue;
$color-primary-dark: $swan-blue-dark; //$palette-indigo-900;
$color-background: white; //$swan-amzn-gray;
$color-accent: $palette-green-a200; //$palette-teal-a400;
$color-accent-dark: $palette-green-a200; //$palette-green-a200; //$palette-teal-a700;

// defaults
$color-divider: $swan-silver;
$color-text: $swan-amzn-gray;
$color-text-secondary: rgba($swan-amzn-gray, 0.5); //$palette-grey-400 !default;

$color-primary-contrast: white !default;
$color-accent-contrast: $palette-orange-200 !default;

$color-positive: $palette-green-a200;
$color-negative: $palette-red-a100;

:export {
  swanBlue: $swan-blue;
  swanBlueDark: $swan-blue-dark;
  darkBlueGray: $dark-blue-gray;
  swanSilver: $swan-silver;
  orange100: $palette-orange-100;
  orange200: $palette-orange-200;
  green100: $palette-green-100;
  greenA100: $palette-green-a100;
  greenA200: $palette-green-a200;
  red100: $palette-red-100;
  redA100: $palette-red-a100;
  redA200: $palette-red-a200;

  primary: $color-primary;
  primaryDark: $color-primary-dark;
  background: $color-background;

}

$nav-bar-height: 50px;
$glances-height: 27vw;
