@import '_theme.scss';


.container {
  position: absolute;
  top: calc(60px + 27vw);
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list {
  margin: 0;
}

.listItem {
  white-space: normal;
  margin: 10px 0;
}

[data-react-toolbox="list-item-text"] {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.subheader {
  line-height: 3rem;
  background-color: $swan-silver;
}
