@import "_theme.scss";

.viewMain {
  top: $nav-bar-height;
  flex: 1;
}

.priceTicker {

}

.newsListContainer {
  position: absolute;
  top: calc(60px + 27vw);
  margin-top: 10px;
  bottom: 0;
  width: 100%;
  // overflow-y: scroll;
  // overflow-x: hidden;
}
