@import '_theme.scss';

.container {
  position: relative;
  top: 0;
  margin: 0;
  color: white;
  background-color: $swan-silver;
}

.list {
  margin: 0;
  padding-top: 0;
}

[data-react-toolbox="list-item-text"] {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

a:-webkit-any-link {
  text-decoration: none;
}
