@import '_theme.scss';

.container {
  box-sizing: border-box;
  padding: 5px;
  margin: 3px;
  border: 1px solid rgba($swan-amzn-gray, 0.2);
  color: rgba($swan-amzn-gray, 0.8); //white;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;

}

.companyInfo {
  min-width: 100px;

  h2 {
    font-size: 2.25rem;
    margin: 5px 0;
  }
}

.sparkline {
  margin: 5% 5%;

  > svg {
    width: 100%;
    height: auto;
  }
}

.priceInfo {
}

.currentPrice {
  font-size: 1.75rem;
  margin-right: 8px;
}

.deltaPrice {
  display: inline-block;
  color: white;
  font-size: 1.5rem;
  background-color: rgba($swan-amzn-gray, 0.5);
  padding: 5px;
  width: 3.5em;
  text-align: right;
}

.positive {
  background-color: $palette-green-a200;
}

.negative {
  background-color: $palette-red-a100;
}
